{% extends 'base.html.twig' %}

{% block title %}Echec du paiement - La Boutique Française{% endblock %}

{% block content%}
    <h2>Echec de paiement</h2>
    <p>Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>,<br/>
        Il semblerait que le paiement pour votre commande n°<strong>{{ order.reference }}</strong> ait échoué.<br/>
        Une confirmation d'echec vient de vous être envoyée à l'adresse <strong>{{ order.user.email }}</strong> .
    <hr>
    <a href="{{ path('order') }}" class="'btn btn-success">Réessayer le paiement</a>.
    </p>
{% endblock %}
